*{
    font-family: monospace;
}
nav > ul {
    list-style-type: none;
}
nav h1, nav li{
    display: inline;
    margin-right: 20px;
}
.form-group{
    margin: 6px 0;
}
.form-error{
    font-weight: bold;
    color: rgb(205, 53, 53);
}
