label, textarea{
    display: block;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.post{
    padding: 20px;
}
.post > *:first-child, .comment > *:first-child{
    margin: 0;
}
.post-content{
    font-weight: bolder;
}
.post:nth-child(odd){
    background-color: #bdbfbf;
}
.post:nth-child(even){
    background-color: #888789;
}
.edit-post-btn{
    background-color: #5fcd64;
}
.comment{
    padding: 15px;
    margin-left: 20px;
}
.comment:nth-child(odd){
    background-color: #bbcdaf;
}
.comment:nth-child(even){
    background-color: #789e72;
}
