<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Change ur pw??</h1>
        <form class="" action="pw_change" method="post"> {% csrf_token %}
            {{ form }}
            <input type="submit" name="" value="send">
        </form>
    </body>
</html>
