<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static '/css/main.css' %}" media="screen">
		<link rel="stylesheet" href="{% static '/loginreg/css/loginreg.css' %}" media="screen">
        
    </head>
    <body>
        {% include "templates/nav.html" %}
        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
        <hr>
        <ul>
            <li>Email: {{ object.email }}</li>
            <li>Joined: {{ object.created_at }}</li>
            <li>Last Login: {{ object.last_login }}</li>
            <li>Posted: {{ object.post_set.count }} times</li>
            <li>Commented: {{ object.comment_set.count }} times</li>
            <li>First Post: {{ first_post }}</li>
        </ul>
        {% if user.id == object.id %}
            <a href="{% url 'user:edit' object.id %}"><button type="">Edit Profile</button></a>
        {% endif %}
    </body>
</html>