<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       {% load staticfiles %}
		<link rel="stylesheet" href="{% static '/css/main.css' %}" media="screen">
		<link rel="stylesheet" href="{% static '/dashboard/css/dashboard.css' %}" media="screen">
        
    </head>
    <body>
        
        {% include "templates/nav.html" %}
        
        <div class="container">
            <h2>Add some terrific CONTENT to the wall</h2>
            <form action='/dashboard/create/post' method="POST">{% csrf_token %}
                {% for field in forms.post %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" value="Post">
            </form>
            <hr>
            {% for post in data.posts %}
            <div class="post">
                <h5><a href="{% url 'user:show' post.author.id %}">{{ post.author.first_name}} {{post.author.last_name }}</a> posted:</h5>
                <p class=post-content>{{ post.content }}</p>
                <span>{{ post.created_at }} ({{ post.time_since_updated_format }} ago)</span>
                <form action='/dashboard/create/comment/{{ post.id }}' method="POST">{% csrf_token %}
                    {% if post.id == bound_post %}
                        {% for field in forms.bound_comment_form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for field in forms.comment %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    <input type="submit" value="Comment">
                    <!--<NOTE>DISABLING EDIT BUTTON FOR NOW</NOTE>-->
                    <!--{% if post.can_edit and post.author.id == user.id %}
                        <button can-edit='false' class='edit-post-btn'>Switch to Edit</button>
                    {% endif %}-->
                </form>
            </div>
                {% for comment in data.comments %}
                {% if post.id == comment.rel_post.id %}
                    <div class="comment">
                        <h6>{{ comment.author.first_name}} {{comment.author.last_name }} commented:</h6>
                        <p class=comment-content>{{ comment.content }}</p>
                        <span>{{ comment.created_at }}</span>
                    </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

    </body>
    <!--<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <script src="{% static '/dashboard/js/dashboard.js' %}"></script>-->
</html>